
*/.ipynb_checkpoints/*
*/example_gdb.gdb/*
Lab01/shapes_wkt.txt
Lab01/example_point.geojson
*/shp/*
Lab01/Untitled.ipynb
Lab01/Untitled1.ipynb
Lab01/on_the_web.png
Lab01/Rob_Arc2_Lab1-2_Part2.mp4
Lab01/submission.odt
